[submodule "docs"]
	path = docs
	url = git@github.com:akherlan/akherlan.github.io.git
[submodule "akherlan.github.io"]
	path = akherlan.github.io
	url = git@github.com:akherlan/akherlan.github.io.git
