<div class="row section timeline topspace">

    <h2 class="section-title" id="history"><span>Pengalaman</span></h2>

	<div id='timeline-embed' style="width: 100%; height: 600px"></div>

	<!-- Timeline JavaScript -->
	<script src="{{ .Site.BaseURL }}js/timeline.js"></script>

	<!-- Create Timeline -->
	<script type="text/javascript">
		var options = {
			hash_bookmark: false,
			start_at_end: false,
			initial_zoom: 1
		}
        var timeline = new TL.Timeline('timeline-embed',
          '{{ .Site.BaseURL }}js/timeline-json.js', options);
	</script>

</div> <!-- / section -->